#wrapper {
    display: flex;
    justify-content: center;
}
#buttons {
    display: flex;
}

#display {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 4px;
    margin: 8px 0px;
    text-align: right;
    background-color: white;
    height: 32px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    margin-bottom: 24px;
    padding-top: 6px;
    padding-right: 2px;
}

#operators {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 14px;
    width: 64px;
    height: 48px;
    margin: 2px;
    border-radius: 6px;
}

#b0 {
    width: 136px;
}

#calculator {
    border-style: solid;
    border-color: #f7610ace;
    background-color: #f7610ace;
    border-radius: 12px;
    padding: 24px;
}

.number {
    background-color: #042580ce;
    color: white;
}

#decimal {
    background-color: #042580ce;
    color: white;
}

.operator {
    background-color: #3868eece;
    color: white;
}