#wrapper {
    display: flex;
    justify-content: center;
}
#buttons {
    display: flex;
}

#display {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 4px;
    margin: 8px 0px;
    text-align: right;
}

#operators {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 14px;
}

#calculator {
    border-style: solid;
    border-color: orange;
    border-radius: 8px;
    padding: 12px;
}